body {
    background: #3a7bd5;  /* fallback for old browsers */
    

    font-family:'Bad Script', cursive;
    font-weight: bolder;
}

.congratulations {
    text-align: center;
}

h2 {
    text-align: center;
}

.form {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    
}

.bmr-label{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px; 
    
}

.food-suggestions-label{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}


.meal-plan-label {
    display: block;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.physical-table-label {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    
}

.mental-table-label {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    
}

.Thank-You-Websites label {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.personal-table table {
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
}

.physical-table table{
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
    
}

.mental-table table{
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
}

.BMR-Calculator table{
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
    
}

.Food-Suggestions table {
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
    
}

.Meal-Plan table {
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
}

.Thank-You-Websites table{
    background-color: #666161;
    margin-left: auto;
    margin-right: auto;
}

.personal-table td{
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    text-align: center;
}

.physical-table td{
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    text-align: center;
}

.mental-table td {
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    text-align: center;
}

.BMR-Calculator td {
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    text-align: center;
}
.Food-Suggestions td {
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 15px;
    padding: 6px;

    
}

.Meal-Plan td {
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    text-align: center;
}

.Thank-You-Websites td {
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 15px;
    padding: 6px;
    text-align: center;
}

.Food-Suggestions th {
    background:#4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    font-size: 23px;
    padding: 6px;
}




